Source: awb
Section: devel
Priority: optional
Maintainer: Joel Emer <emer@csail.mit.edu>
Build-Depends: debhelper (>= 7), gcc, g++, autotools-dev, libqt-perl, libqt3-mt-dev, libpopt-dev
Standards-Version: 3.8.4

Package: awb
Architecture: all
Depends: awb-11.08, awb-11.04
Description: Dependency package for the Architect's Workbench
 Dependency package for the Architect's Workbench package (awb)
Section: devel

Package: awb-11.08
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, awb-bin
Description: Sharable package for the Architect's Workbench
 Sharable files making up the Architect's Workbench package
Section: devel

Package: awb-bin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gcc, g++, libqt-perl, libenum-perl, libqt3-mt-dev, libpopt-dev, scons, cvs
Recommends: libterm-readline-gnu-perl
Replaces: awb (<= 0.6.0)
Breaks: awb (<= 0.6.0)
Description: Executables for the Architect's Workbench
 Core executables for Architect's Workbench (awb) plug-n-play build system.
Section: devel

Package: awb-doc
Architecture: all
Description: Documentation for the Architect's Workbench
 Documenation for Architect's Workbench (awb) plug-n-play build system.
Section: doc
